html {
    box-sizing: border-box;
    font-size: 62.5%;
}
body {
    font-size: 80%;
    font-family: "Courier Prime", monospace;
    letter-spacing: 0.15em;
    background-color: #efefef;
}
.page {
    max-width: 940px;
    min-width: 720px;
    margin: 10px auto;
    padding: 20px;
    border: 4px double #000;
    background-color: #ffffff;
}
.logo {
    width: 150px;
    margin: 10px auto 25px auto;
}
.navbar ul.nav {
    width: 570px;
    padding: 15px;
    margin: 0px auto 0px auto;
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;
    text-align: center;
}
.navbar ul.nav li {
    display: inline;
    margin: 0px 3px;
}
.navbar ul.nav li a {
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    padding: 6px 18px 5px 18px;
    font-size: 1.6rem;
}
.navbar ul.nav li a:hover, .navbar ul.nav li a.active {
    color: #cc3333;
    background-color: #ffffff;
}
.content p {
    text-align: center;
    width: 600px; 
    margin: 20px auto; 
    font-weight: normal;
    font-size: 1.5rem;
}
.img-box {
    text-align: center;
    margin-top: 20px;
}